- if !@flights.nil?
  - if !@flights.empty?
    = form_tag new_booking_path, method: :get do
      #flights-form.row.bg-green-600
        .col-md-8.col-md-offset-2
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th
                %th Flight ID
                %th Date
                %th Time
                %th Passengers
                %th Departure
                %th Destination
                %th Price
            %tbody
              - @flights.each do |f|
                %tr
                  %td= radio_button_tag(:flight_selected, f.id, checked: f)
                  %td= f.id
                  %td= f.date.strftime("%d/%m/%Y")
                  %td= f.date.strftime("%H:%m")
                  %td= params[:flight][:passengers]
                  %td= f.from_airport.airport_code
                  %td= f.to_airport.airport_code
                  %td
                    = f.price
                    \$
          = hidden_field_tag :passenger_count, params[:flight][:passengers]
          = submit_tag("Order", id: 'order-btn')