.grid.grid-cols-auto.m-20.text-center
  %h1.text-center Search for flights:
  %br/
  = form_for @flight, html: {method: :get} do |f|
    .md-4
      = f.label :from_airport
      = f.select(:from_airport, @airports, {selected: @from}, {id: 'from_airport'})
      %br/
    .text-center
      = f.label :to_airport
      = f.select(:to_airport, @airports, {selected: @to}, {id: 'to_airport'})
    .text-center
      = f.label :date
      = f.select(:date, @dates, {selected: @date})
    .text-center
      = f.label :passengers
      = f.select(:passengers, @passengers, {selected: @passengers_select})
    %br/
    %br/
    .m-2
      = button_tag(type: "submit") do
        .px-3.py.bg-blue-500.text-white.rounded-md.hover:bg-blue-300.cursor-pointer
          Search
%br/


= render "/flights/flight_form"
